/* Import base styles */
/* App.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tradingview-widget-container {
  margin: auto;
}



.sidebar.open {
  left: 0;
}

.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


.logo-image {
  width: 100px; /* Set the desired width */
  height: 100px; /* Set the desired height */
}


.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-container {
  display: flex;
  flex-grow: 1; /* Allow main content and sidebar to grow */
}

main {
  flex-grow: 1; /* Allow main content to take remaining space */
}

.sidebar {
  /* Set initial width for sidebar */
  width: 30vh /* Adjust this width as needed */
}

@media screen and (max-width: 900px) {
  .sidebar {
    /* Adjust width for mobile view */
    width: 14vh!important;
  }
  header{
    font-size: 20px !important;
  }
}

@media (min-width: 1280px){
  .container {
    max-width: 100%;
}
}
